*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3498db;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}